.form-group {
    width: 500px;
    margin: auto;
}

.container {
    text-align: center;
}

.alert {
    width: 500px;
    margin: auto;
}

.list-group-item {
    width: 50%x;
    margin: auto;
}